/*body{*/
/*    background: #ffffff;*/
/*}*/
header{
    height: 40px;
    width: 900px;
    /*position: relative;*/
    /*right: 0;*/
    /*left: 0;*/
    margin: auto;
    border-bottom: 1px solid #e4e3e3;
    padding-left: 300px;
}
form{
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
form >input{
    border:1px solid #ccc;
    height: 30px;
    box-sizing: border-box;
    padding: 6px 12px;
    color: #333;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    background: white;
    margin-right: 20px;
}
/*main{*/
/*    width: 900px;*/
/*    height: auto;*/
/*    margin: 20px auto;*/
/*}*/
main > .tab{
    width: 600px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    margin: auto;
}
.tab >li{
    width: 200px;
    font-size: 20px;
    height: 20px;
    padding: 10px;
}
.tab >li.hot{
    color: #fff;
    transition: all 1s;
}

.tab >.top1{
    width: 200px;
    height: 30px;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #f0adcb;
    z-index: -1;
    transition: all ease-in 0.5s;
}
li.hot:nth-child(1)~.top1{
    transform: translate(0,0);
}
li.hot:nth-child(2)~.top1{
    transform: translate(100%,0);
}
li.hot:nth-child(3)~.top1{
    transform: translate(200%,0);
}
.content{
    width: 600px;
    flex-direction: column;
    height: auto;
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    margin: auto;
}

.content > li{
    padding: 10px;
}
.content p{
    display: inline-block;
}
.content time{
    float: right;
}
del{
    float: right;
    text-decoration: none;
    margin-left: 5px;
}
